/* reset styles */
:root {
  --primary: #333;
  --secondary: #7b8fa1;
  --tertiary: #aba969;
  /* --quaternary: rgb(194, 39, 39); */
  --quaternary: #222f49;
  --text-color: #fcfbec;
  --book-height: 400px;
  --book-width: 130px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* basic styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  overflow-x: hidden;
  overflow-y: hidden;
}
a {
  color: #007bff;
  text-decoration: none;
}
button {
  border: none;
}
button:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
p {
  margin-bottom: 1rem;
}
/* grid layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 1px solid red; */
}
.container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
}

.shadow-1 {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  margin: 10px;
}
.mtb4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mtb8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mtb16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mtb32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mlr4 {
  margin-left: 4px;
  margin-right: 4px;
}
.mlr8 {
  margin-left: 8px;
  margin-right: 8px;
}
.mlr16 {
  margin-left: 16px;
  margin-right: 16px;
}
.mlr32 {
  margin-left: 32px;
  margin-right: 32px;
}
.ptb4 {
  padding: 4px 0;
}
.ptb8 {
  padding: 8px 0;
}
.ptb16 {
  padding: 16px 0;
}
.ptb32 {
  padding: 32px 0;
}
.plr4 {
  padding: 0 4px;
}
.plr8 {
  padding: 0 8px;
}
.plr16 {
  padding: 0 16px;
}
.plr32 {
  padding: 0 32px;
}

.opacity-0 {
  opacity: 0;
}

.fade-out {
  animation: fade-out 0.9s linear forwards;
}

@keyframes fade-out {
  50% {
    opacity: 0;
    transform: translateY(-100px);
    z-index: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-1000px);
    z-index: 0;
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes fade-in {
  80% {
    margin-top: -320px;
  }
  100% {
    opacity: 1;
    margin-top: -300px;
  }
}
